
<div class="nk-app-root">
    <!-- main @s -->
    <div class="nk-main ">
      <!-- wrap @s -->
      <div class="nk-wrap ">
        <!-- main header @s -->
        <app-header></app-header>
        <!-- main header @e -->
  
        <!-- content @s -->
        <div class="nk-content p-0">
          <div class="nk-content-inner">
            <div class="nk-content-body">
              <div class="nk-fmg">
                <!-- .nk-fmg-aside -->
                <app-left-side-bar></app-left-side-bar>
                <!-- .nk-fmg-aside -->
                <div class="nk-fmg-body">
                  <router-outlet />
                </div><!-- .nk-fmg-body -->
              </div><!-- .nk-fmg -->
            </div>
          </div>
        </div>
        <!-- content @e -->
      </div>
      <!-- wrap @e -->
    </div>
    <!-- main @e -->
  </div>
  <!-- app-root @e -->
  
  